---
import { Image } from 'astro:assets'
import appStore from '../assets/image/icon/app-store.svg'
import googlePlay from '../assets/image/icon/google-play.svg'
import '../scss/fonts.scss'

const { h1, p, launch, getItOn, downloadOn } = Astro.props
---

<section class='hero'>
	<div class='hero_text container'>
		<h1>{h1}</h1>
		<p>{p}</p>
	</div>
	<div class='hero_launch'>
		<h2>{launch}</h2>
		<div class='hero_buttons'>
			<a href='#'>
				<Image
					src={googlePlay}
					alt='google play'
					width={27.369771003723145}
					height={30.04298210144043}
				/>
				<div class='hero_button_text'>
					<span>{getItOn}</span>
					<span>Google Play</span>
				</div>
			</a>
			<a href='#'>
				<Image
					src={appStore}
					alt='app store'
					width={24.292320251464844}
					height={29.338294982910156}
				/>
				<div class='hero_button_text'>
					<span>{downloadOn}</span>
					<span>App Store</span>
				</div>
			</a>
		</div>
	</div>
</section>

<style lang='scss'>
	@use '../scss/variables' as vrb;
	@use '../scss/mixins' as mxn;

	@use '../scss/fonts.scss';

	.container {
		width: calc(100% - 32px);
		margin: 0 auto;

		@media (min-width: 768px) {
			width: calc(100% - 80px);
		}
	}

	.hero {
		display: flex;
		flex-direction: column;
		gap: 197px;
		position: relative;
		padding-top: 72px;
		z-index: 5;

		@media (min-width: 768px) {
			gap: 64px;
			padding-top: 200px;
		}

		@media (min-width: 1024px) {
			padding: 200px 50px 0;
		}

		@media (min-width: 1440px) {
			padding: 266px 100px 0;
		}

		&_text {
			display: flex;
			flex-direction: column;
			gap: 24px;
			@media (min-width: 1024px) {
				gap: 32px;
			}

			& h1 {
				padding: 0;
				margin: 0;
				color: #fff;
				font-weight: 700;
				font-family: 'clash', sans-serif;
				font-size: 32px;
				letter-spacing: 1px;
				text-transform: uppercase;
				@media (max-width: 320px) {
					font-size: 40px;
				}
				@media screen and (min-width: 520px) {
					font-size: 50px;
				}
				@media (min-width: 768px) {
					font-size: 60px;
					line-height: 110.00000000000001%;
				}
				@media (min-width: 1024px) {
					width: 80%;
					font-size: 80px;
				}
				@media (min-width: 1440px) {
					width: 70%;
					font-size: 100px;
				}
			}

			& p {
				padding: 0;
				margin: 0;
				color: var(--text-primary, #fff);
				font-family: 'source', sans-serif;
				font-size: 13px;
				font-weight: 400;
				line-height: 130%;

				@media (min-width: 768px) {
					width: 414px;
				}
				@media (min-width: 1024px) {
					font-size: 17px;
					width: 470px;
				}
			}
		}

		&_launch {
			width: calc(100% - 64px);
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			gap: 24px;
			padding: 16px 20px;
			border-radius: 20px;
			background: rgba(0, 0, 0, 0);
			backdrop-filter: blur(15px);
			-webkit-backdrop-filter: blur(15px);
			box-shadow:
				inset 0 0.3px 2px rgba(255, 255, 255, 0.744),
				0 5px 20px rgba(0, 0, 0, 0.5);
			border: 1px solid rgba(255, 255, 255, 0.017);

			@media (min-width: 768px) {
				width: max-content;
				margin: 0 {
					left: 32px;
				}
				padding: 32px 40px;
			}

			& h2 {
				padding: 0;
				margin: 0;
				color: #fff;
				text-align: center;
				font-family: 'source', sans-serif;
				font-size: 20px;
				font-weight: 700;
				line-height: 24px;

				@media (min-width: 768px) {
					font-size: 24px;
				}
			}
		}

		&_buttons {
			display: flex;
			flex-direction: column;
			gap: 8px;

			@media (min-width: 768px) {
				flex-direction: row;
				gap: 16px;
			}

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 6px 12px;
				border-radius: 12px;
				background: rgba(0, 0, 0, 0);
				backdrop-filter: blur(30px);
				-webkit-backdrop-filter: blur(30px);
				box-shadow:
					inset 0 0.3px 2px rgba(255, 255, 255, 0.744),
					0 5px 20px rgba(0, 0, 0, 0.5);
				border: 1px solid rgba(255, 255, 255, 0.017);
				text-decoration: none;

				@media (min-width: 768px) {
					padding: 7px 13px;
				}
				.hero_button_text {
					display: flex;
					flex-direction: column;

					span:first-child {
						font-size: 11px;
						color: #fff;
						font-family: 'source', sans-serif;
						font-weight: 400;
						line-height: 130%;
					}

					span:last-child {
						font-size: 17px;
						color: #fff;
						font-family: 'source', sans-serif;
						font-weight: 700;
						line-height: 130%;
					}
				}
			}

			a:first-child {
				gap: 9.45px;
			}

			a:last-child {
				gap: 10.37px;
				padding-left: 0;
				@media (min-width: 768px) {
					padding: 7px 13px;
				}
			}
		}
	}
</style>
